.footer {
    font-size: 14px;
    border-top: solid 1px #b8b8b9;
}

.footer-title {
    font-family: "Open Sans", serif;
    color: #b8b8b9;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.footer-ul {
    font-family: "Rubik", serif;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: rgba(84, 88, 90, 0.75);
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

div.adalab-image {
    display: flex;
    justify-content: center;
    padding: 10px;
}

div.adalab-image img {
    width: 145px;
    padding: 10px;
}

