.header{

  font-family: "Rubik", serif;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-group{
  background-color: rgba(9,157,141, 0.8);
  padding: 20px;
  width: 100%;
}
.header-title{
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  
}
.header-menu{
  background-color: rgba(20,217,196, 0.8);
  padding: 23px;
  width: 100%;
}
.header-nav{
  padding-top: 6px;

}

.header-list{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.header-list-item{
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 768px){
  .header{
    flex-direction: inherit;
 
  }

  .header-group{
    background-color: rgba(9,157,141, 0.8);
  }
  .header-title{
    justify-content: left;
  }
  
  .header-menu{
    background-color: rgba(9,157,141, 0.8);
  }
}