.container-tarjet {
    padding:15px;
    margin: 0 auto;
    text-align: center; 
    display: block; 
}


.quienes {
    color: #099d8d;
    margin-top:10px ;
    margin-bottom:10px ;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
}


.container-tarjet p {
    font-family: "Open Sans";
    font-size: 16px;
    color: #54585a;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-tarjet img {
    width: 180px;
    height: auto;
    margin: 10px auto;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08);
}


.container-icons {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    color: #099d8d;
    
}
.section-quienes {
    justify-content: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 45px;
    margin-top: 45px;
}

.nombre-adalaber{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 100;

}



/*Media queries section quienes somos*/

@media (min-width:768px){
    .container-tarjet img {
        width: 200px;
        height: 200px;
        margin: 10px auto;
        border-radius: 4px;
        border: solid 5px rgba(0, 0, 0, 0.08);
    }
    .container-tarjet{
        display: flex;
        gap:30px;
        align-items: center;
    }
    .container-description{
        text-align: start;

      
    }
    .nombre-adalaber{
        display: flex;
        justify-content: flex-start;
    }
    .description-adalaber{
        display: flex;
        justify-content: flex-start;
    }
    .container-icons{
        display: flex;
        justify-content: flex-start;
    }
    .section-quienes {
        justify-content: center;      
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .tarjet-right{
        display: flex;
        flex-direction: row-reverse;        
    }
    .nombre-adalaber-right{
        flex-direction: row-reverse;
    }
    .description-adalaber-right{
        flex-direction: row-reverse;
        text-align: right;
    }
    .container-icons-right{
        flex-direction: row-reverse;
    }
    .description-adalaber-left{
        flex-direction: row-reverse;
        text-align: left;
    }
}

/*media queries desktop*/
@media (min-width:1200px) {
    .section-quienes {
        justify-content: center;      
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .container-tarjet img {
        width: 280px;
        height: 280px;
        margin: 10px auto;
        border-radius: 4px;
        border: solid 5px rgba(0, 0, 0, 0.08);
    }

}