.conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aqua;
}


.caja {
    position: relative;
    bottom: 50px;
    background-color: white;
    display: flex;
    display: inline-block;
    font-family: "Open Sans", serif;
    padding: 20px;  
}
.imagen {
    width: 100%;
}


