<header class="header">
            <div class="header-group">
                <h1 class="header-title">adalabers team 1</h1>
            </div>
            <div class="header-menu">
                <nav class="header-nav">
                    <ul class="header-list">
                        <li class="header-list-item">equipo</li>
                        <li class="header-list-item">quienes somos</li>
                        <li class="header-list-item">contacto</li>
                    </ul>
                </nav>     
            </div>
          
         
</header>
