 <!--SECCIÓN QUIENES SOMOS-->
    <!--SECCIÓN QUIENES SOMOS-->
    <section class="section-quienes">
        <div class="h3-quienes">
        <h3>QUIÉNES SOMOS</h3>
        </div>
        <div class="container-tarjet">
            <img src="img/Foto Laura Montiel.jpg" alt="">
            <h5>Nombre Adalaber</h5>
            <p>Descripción sobre la Adalaber Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet laboriosam dolor veniam, adipisci modi delectus explicabo accusantium officia facilis exercitationem? Harum dignissimos rem architecto quo dolorem molestiae voluptas consequuntur?</p>

                <ul class="container-icons">
                    <li><a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a></li>
                    
                </ul>
        </div>  
        <div class="container-tarjet">
            <img src="img/Foto Laura Montiel.jpg" alt="">
            <h5>Nombre Adalaber</h5>
            <p>Descripción sobre la Adalaber Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet laboriosam dolor veniam, adipisci modi delectus explicabo accusantium officia facilis exercitationem? Harum dignissimos rem architecto quo dolorem molestiae voluptas consequuntur?</p>

                <ul class="container-icons">
                    <li><a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a></li>
                    
                </ul>
        </div>   
        <div class="container-tarjet">
            <img src="img/Foto Laura Montiel.jpg" alt="">
            <h5>Nombre Adalaber</h5>
            <p>Descripción sobre la Adalaber Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet laboriosam dolor veniam, adipisci modi delectus explicabo accusantium officia facilis exercitationem? Harum dignissimos rem architecto quo dolorem molestiae voluptas consequuntur?</p>

                <ul class="container-icons">
                    <li><a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a></li>
                    
                </ul>
        </div>   
        <div class="container-tarjet">
            <img src="img/Foto Laura Montiel.jpg" alt="">
            <h5>Nombre Adalaber</h5>
            <p>Descripción sobre la Adalaber Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet laboriosam dolor veniam, adipisci modi delectus explicabo accusantium officia facilis exercitationem? Harum dignissimos rem architecto quo dolorem molestiae voluptas consequuntur?</p>

                <ul class="container-icons">
                    <li><a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a></li>
                    <li>·</li>
                    <li><a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a></li>
                    
                </ul>
        </div>         
    </section>
        
    
