 <!--SECCIÓN QUIENES SOMOS-->
    <!--SECCIÓN QUIENES SOMOS-->
    <section class="section-quienes">
        <div class="h3-quienes">
        <h3 class="quienes">QUIÉNES SOMOS</h3>
        </div>
        <div class="container-tarjet tarjet left">
            <div class="container-img-adalaber">
                <img src="./images/bego.jpg" alt="Begoña">
            </div>
            <div class="container-description">
                <h5 class="nombre-adalaber">Begoña </h5>
                <p class="descripcion-adalaber">Descripción sobre la Adalaber Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet laboriosam dolor veniam, adipisci modi delectus explicabo accusantium officia facilis exercitationem? Harum dignissimos rem architecto quo dolorem molestiae voluptas consequuntur?</p>
    
                    <ul class="container-icons">
                        <li><a href="">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-solid fa-envelope"></i>
                        </a></li>
                        
                    </ul>
            </div>
        </div>
        <div class="container-tarjet tarjet-right">
            <img src="./images/Laura.jpg" alt="Laura">
            <div class="container-description container-description-right">
                <h5 class="nombre-adalaber nombre-adalaber-right">Laura Montiel</h5>
                <p class="description-adalaber description-adalaber-right">Descripción sobre la Adalaber Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet laboriosam dolor veniam, adipisci modi delectus explicabo accusantium officia facilis exercitationem? Harum dignissimos rem architecto quo dolorem molestiae voluptas consequuntur?</p>
    
                    <ul class="container-icons container-icons-right">
                        <li><a href="">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-solid fa-envelope"></i>
                        </a></li>
                        
                    </ul>
            </div>
        </div>
        <div class="container-tarjet tarjet left">
            <img src="./images/Photo-Jud.jpg" alt="Judit">
            <div class="container-description">
                <h5 class="nombre-adalaber">Judit Casatmitjana</h5>
                <p class="descripcion-adalaber">Me apasiona crear experiencias visuales que conecten con las personas y transmitan emociones a través del diseño.           Mi enfoque se basa en la colaboración, la innovación y la atención al detalle. Creo que un buen diseño puede transformar una idea en algo memorable.
                Si necesitas un diseño que hable por ti, ¡no dudes en ponerte en contacto conmigo! Estaré encantada de ayudarte a llevar tu proyecto al siguiente nivel.</p>
    
                    <ul class="container-icons">
                        <li><a href="">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-solid fa-envelope"></i>
                        </a></li>
                        
                    </ul>
            </div>
        </div>
        <div class="container-tarjet tarjet-right">
            <img src=".images/imgLinkedin.jpg" alt="Loreto">
            <div class="container-description container-description-right">
                <h5 class="nombre-adalaber nombre-adalaber-right">Loreto</h5>
                <p class="description-adalaber description-adalaber-right">Descripción sobre la Adalaber Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet laboriosam dolor veniam, adipisci modi delectus explicabo accusantium officia facilis exercitationem? Harum dignissimos rem architecto quo dolorem molestiae voluptas consequuntur?.</p>
    
                    <ul class="container-icons container-icons-right">
                        <li><a href="">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a></li>
                        <li>·</li>
                        <li><a href="">
                            <i class="fa-solid fa-envelope"></i>
                        </a></li>
                        
                    </ul>
            </div>
        </div>      
        
    </section>
    
        
    
