<!--SECCIÓN QUIENES SOMOS-->
<section class="section-quienes">
    <div class="h3-quienes">
        <h3 class="quienes">QUIÉNES SOMOS</h3>
    </div>
    <div class="container-tarjet tarjet left">
        <a href="about-bego.html">
            <div class="container-img-adalaber">
                <img src="./images/bego.jpg" alt="Begoña" />
            </div>
        </a>
        <div class="container-description">
            <h5 class="nombre-adalaber">Begoña</h5>
            <p class="description-adalaber-left">
                Descripción sobre la Adalaber Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Qui eveniet laboriosam dolor
                veniam, adipisci modi delectus explicabo accusantium officia
                facilis exercitationem? Harum dignissimos rem architecto quo
                dolorem molestiae voluptas consequuntur?
            </p>

            <ul class="container-icons">
                <li>
                    <a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-tarjet tarjet-right">
        <a href="about-laura.html">
            <img src="./images/Laura.jpg" alt="Laura" />
        </a>
        <div class="container-description container-description-right">
            <h5 class="nombre-adalaber nombre-adalaber-right">Laura Montiel</h5>
            <p class="description-adalaber description-adalaber-right">
                Me considero una persona resolutiva, analítica y empática, con
                una curiosidad insaciable por aprender y asumir nuevos retos.
                Creo firmemente en potenciar el valor de los negocios a través
                de un diseño estratégico, maximizando los recursos disponibles
                para lograr resultados impactantes.
            </p>

            <ul class="container-icons container-icons-right">
                <li>
                    <a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-tarjet tarjet left">
        <a href="about-jud.html">
            <img src="./images/Photo-Jud.jpg" alt="Judit" />
        </a>
        <div class="container-description">
            <h5 class="nombre-adalaber">Judit Casamitjana</h5>
            <p class="description-adalaber-left">
                Me apasiona crear experiencias visuales que conecten con las
                personas y transmitan emociones a través del diseño. Mi enfoque
                se basa en la colaboración, la innovación y la atención al
                detalle. Creo que un buen diseño puede transformar una idea en
                algo memorable. Si necesitas un diseño que hable por ti, ¡no
                dudes en ponerte en contacto conmigo! Estaré encantada de
                ayudarte a llevar tu proyecto al siguiente nivel.
            </p>

            <ul class="container-icons">
                <li>
                    <a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-tarjet tarjet-right">
        <a href="about-loreto.html">
            <img src="./images/Loreto.jpg" alt="Loreto" />
        </a>
        <div class="container-description container-description-right">
            <h5 class="nombre-adalaber nombre-adalaber-right">Loreto</h5>
            <p class="description-adalaber description-adalaber-right">
                Me encanta darle forma y funcionalidad a las buenas ideas y
                estaría encantada de inspirarme con las tuyas y ayudarte en este
                proceso de creación. Si crees que tienes buenas ideas pero
                necesitas alguien que te ayude a darles consistencia, o bien,
                una persona más en tu equipo de creación, cuenta conmigo.
            </p>
            <ul class="container-icons container-icons-right">
                <li>
                    <a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>·</li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
