body{
    font-family: "Rubik", serif;
}

header{
    padding: 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    background-color: rgb(202, 128, 37);
    font-size: 20px;
    text-align: center;

}

.menu-nav{
    background-color: aquamarine;
    display: flex;
    width: 100%;
    gap: 15px;


}